<%= form_with(local: true) do |form| %>
</>
<% if 1 == 0 %>
<div class="errors-container">
  <h2><%= pluralize(1, "erro(s)") %> impediram que este boleto fosse salvo:</h2>

  <ul>
    <% ["message 1", "message 2"].each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-container">
  <!-- amount -->
  <div class="form-field">
    <div class="form-label-container"></div>
    <div class="form-input-container"></div>
  </div>

  <!-- expire_at -->
  <div class="field form-field">
    <div class="form-label-container"></div>
    <div class="form-input-container"></div>
  </div>

  <!-- customer_person_name -->
  <div class="form-field">
    <div class="form-label-container"></div>
    <div class="form-input-container"></div>
  </div>

  <!-- customer_cnpj_cpf -->
  <div class="field form-field">
    <div class="form-label-container"></div>
    <div class="form-input-container"></div>
  </div>

  <!-- customer_state -->
  <div class="field form-field">
    <div class="form-label-container"></div>
    <div class="form-input-container"></div>
  </div>

  <!-- customer_city_name -->
  <div class="field form-field">
    <div class="form-label-container"></div>
    <div class="form-input-container"></div>
  </div>

  <!-- customer_zipcode -->
  <div class="field form-field">
    <div class="form-label-container"></div>
    <div class="form-input-container"></div>
  </div>

  <!-- customer_address -->
  <div class="field form-field">
    <div class="form-label-container"></div>
    <div class="form-input-container"></div>
  </div>

  <!-- customer_neighborhood -->
  <div class="field form-field">
    <div class="form-label-container"></div>
    <div class="form-input-container"></div>
  </div>

  <% unless readonly %>
  <div class="field form-buttons">
    <%= form.submit class: 'action-button' %>
  </div>
  <% end %>
</div>
<% end %>
