<div class="header">
  <h1>Gerenciamento de Boletos</h1>
  <%= link_to 'Novo Boleto', new_bank_slip_path, class: "action-button" %>
</div>

<% if notice %>
<p class="notice-container"><%= notice %></p>
<% end %>
<div></div>
<%= link_to 'Editar', edit_bank_slip_path(1), class: "action-button" %>
