<div class="header">
  <h1>Gerenciamento de Boletos</h1>
  <%= link_to 'Novo Boleto', new_bank_slip_path, class: "action-button" %>
</div>

<% if flash[:error].present? %>
<div class="errors-container"><%= flash[:error] %></div>
<% end %> 
</>
<% if notice %>
<p class="notice-container"><%= notice %></p>
<% end %>

<div class="main">
  <div class="container">
    <h2 class="sub-title">Boletos</h2>
    <div class="slips-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CNPJ/CPF</th>
            <th>Data de Vencimento</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @bank_slips.each do |bank_slip| %> <%= render 'bank_slip',
          bank_slip: bank_slip %> <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
