<h1 class="header">BankSlipManagement</h1>

<div class="buttons">
  <%= link_to 'Novo Boleto', new_bank_slip_path, class: "action-button" %>
</div>

<div class="buttons">
  <%= link_to 'Editar', edit_bank_slip_path(1), class: "action-button" %>
</div>
