.header,
.header {
  background-color: #000;
  margin: 0;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 25px;
}

.container {
  width: 100%;
  background-color: var(--comments);
  border-radius: 2px;
  padding: 20px;
  margin: 0 auto;
}

.slips-container {
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 8px;
  width: 100%;
}

.sub-title {
  font-size: 1rem;
}

.slips-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.slips-container th {
  color: var(--blue);
  background-color: var(--background);
}

.slips-container th,
.slips-container td {
  font-size: 1rem;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid var(--background);
  padding: 8px 16px;
}

/* Bank Slip */

.svg-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.svg-button,
.svg-button svg,
.svg-button button,
.svg-button form,
.svg-button a {
  width: 1.563rem;
  height: 1.563rem;
  display: block;
}

/* Generic Buttons  */

.action-button {
  background-color: var(--yellow);
  color: var(--background);
  border: thin solid transparent;
  font-size: inherit;
  text-decoration: none;
  padding: 10px 25px;
  display: block;
  max-width: max-content;
  transition: 0.3s ease-in-out;
}

.action-button:hover {
  background-color: transparent;
  border-color: var(--yellow);
  color: var(--yellow);
}
